{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/football.css' %}">
{% endblock %}

{% block title %}Football{% endblock %}
{% block app_name %}Football App{% endblock %}

{% block content %}
<div class="topline">Click & Bet</div>
<ol id="matchList">
    <div>
        <article id="headrow">
            <span>Match results & Your bets</span>

            <span class="goals">
                <span class="goal_sep">Match result</span>
            </span>
            <span class="bets">
                <span class="goal_sep">Your bet</span>
            </span>
        </article>
    </div>
    {% for match in matches %}
    <li>
        <article data-id="{{ match.id }}"  data-expired="{{ match.expired|lower }}">
            <span>
                <span class="date">{{ match.date }}</span>
            </span>
            <span class="team">
                <span class="home_team_name">{{ match.home_team.name }}</span>
                <img class="home_team_flag" src="{{ flag_cdn }}{{ match.home_team.code|lower }}.png" />
            </span>
            <span class="team_sep">vs</span>
            <span class="team">
                <span class="away_team_name">{{ match.away_team.name }}</span>
                <img class="away_team_flag" src="{{ flag_cdn }}{{ match.away_team.code|lower }}.png" />
            </span>
            <span class="goals">
                <span class="home_goals">{% if match.home_goals is not None %}{{ match.home_goals }}{% else %} – {% endif %}</span>
                <span class="goal_sep">:</span>
                <span class="away_goals">{% if match.away_goals is not None %}{{ match.away_goals }}{% else %} – {% endif %}</span>
            </span>
            <span class="bets">
                <span class="home_bet">–</span>
                <span class="goal_sep">:</span>
                <span class="away_bet">–</span>
            </span>
        </article>
    </li>
    {% endfor %}
</ol>

<form name="betForm" class="hidden">
    {% csrf_token %}
    <input type="hidden" name="match" value="" />

    <fieldset class="grid" id="form_match_info"></fieldset>

    <fieldset class="grid">
        <input type="number" name="home_bet" min="0" />    
        <input type="number" name="away_bet" min="0" />    
    </fieldset>

    <fieldset>
        <button type="button" name="create" data-url="{% url 'football:create_url' %}">Create bet</button>
        <button type="button" name="update" data-url="{% url 'football:update_url' %}">Update bet</button>
        <button type="button" name="delete" data-url="{% url 'football:delete_url' %}">Delete bet</button>
    </fieldset>
</form>
{% endblock %}

{% block app_js %}
<script defer src="{% static 'js/football.js' %}"></script>
{% endblock %}

{% block data %}
{% autoescape off %}
<script>
    __data = 
    {
        "endpoints": 
        {
            "get": "{% url 'football:get_url' %}",
            "create": "{% url 'football:create_url' %}",
            "update": "{% url 'football:update_url' %}",
            "delete": "{% url 'football:delete_url' %}"
        },
        "static": {% get_static_prefix %}
    }
</script>
{% endautoescape %}
{% endblock %}

{% block templates %}
<template id ="matchListItem">
    <article>
        <span>
            <span class="date"></span>
        </span>
        <span class="team">
            <span class="home_team_name"></span>
            <img class="home_team_flag" />
        </span>
        <span class="team_sep">vs</span>
        <span class="team">
            <span class="away_team_name"></span>
            <img class="away_team_flag" />
        </span>
        <span class="goals">
            <span class="home_goals"></span>
            <span class="goal_sep">:</span>
            <span class="away_goals"></span>
        </span>
        <span class="bets">
            <span class="home_bet"></span>
            <span class="goal_sep">:</span>
            <span class="away_bet"></span>
        </span>
    </article>
</template>
{% endblock %}