html {
    font-size: 14px;
}

body {
    background-color: #f9f9f9;
}

body > header {
    background-color: #ECEFF1;
}

main {
    display: flex;
    margin: 4em auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form textarea {
    height: 5em;
}

form [role=group] button {
    border-radius: 0;
}

form button[name="create"], form.new button[name="update"], form.new button[name="delete"] {
    display: none;
}

form.new button[name="create"], form button[name="update"], form button[name="delete"] {
    display: initial;
}

#matchList {
    max-width: 90%;
    font-size: 1em;
    counter-reset: li;
    list-style-type: none;
}

#matchList li {
    position: relative;
}

#matchList li::before {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    top: 50%;
    padding: 0 10px;
    left: 0;
    transform: translate(-120%, -50%);
}

article {
    cursor: pointer;
    background-color: #fff;
    color: #424242;
    position: relative;
    padding: 0;
    box-shadow: #E0E0E0 5px 5px 15px 0px;
    display: table;
}

article > span {
    display: table-cell;
    padding: 1em;
}

article .team {
    width: 10em;
    text-align: center;
    font-weight: 500;
}

article .date {
    display: inline-block;
    white-space: nowrap;
    padding: 1em;
    font-size: 0.8em;
    background-color: #f4f4f4;
    border-radius: 4px;
}

article .home_team_flag, article .away_team_flag {
    display: block;
    margin: 1em auto;
}

article .goals {
    white-space: nowrap;
    vertical-align: middle;
}

article .home_goals, article .away_goals {
    display: inline-block;
    width: 4em;
    margin: 0 1em;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

article[data-expired="true"] {
    cursor: default;
    background-color: #fafafa;
}

.betForm {
    width: fit-content;
    background-color: #eee;
    padding: 2.5em 2em 0;
}

.betForm article {
    cursor: default;
}

.betForm article .goals {
    display: none;
}

.betForm .close {
    background-color: #BDBDBD;
}

.betForm .close:hover {
    background-color: #222;
}

.betForm select, textarea {
    margin-bottom: 0;
}

