html {
    font-size: 14px;
}

body {
    background-color: #f8f8f8;
}

body > header {
    background-color: #ECEFF1;
}

main {
    display: flex;
    margin: 4em auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form textarea {
    height: 5em;
}

form [role=group] button {
    border-radius: 0;
}

form button[name="create"], form.new button[name="update"], form.new button[name="delete"] {
    display: none;
}

form.new button[name="create"], form button[name="update"], form button[name="delete"] {
    display: initial;
}

#matchList {
    width: 50em;
    max-width: 90%;
    font-size: 1em;
    counter-reset: li;
    list-style-type: none;
}

#matchList li {
    position: relative;
}

#matchList li::before {
    counter-increment: li;
    content: counter(li);
    position: absolute;
    top: 50%;
    padding: 0 10px;
    left: 0;
    transform: translate(-120%, -50%);
}

#matchList article {
    cursor: pointer;
    background-color: #fff;
    position: relative;
    padding: 10px;
    box-shadow: #E0E0E0 5px 5px 15px 0px;
    display: table;
    width: 100%;
}

#matchList article > span {
    display: table-cell;
    padding: 5px 10px;
}

#matchList .teams {
    white-space: nowrap;
    width: 80%;
}

#matchList .team {
    width: 10em;
    white-space: nowrap;
    margin: 0 1em;
    font-weight: 500;
}

#matchList article .date {
    width: 1em;
    white-space: nowrap;
    font-size: 0.8em;
    margin-right: 1em;
    background-color: #f4f4f4;
    border-radius: 4px;
}

#matchList .goals {
    white-space: nowrap;
    width: 10%;
}

#matchList .home_goals, #matchList .away_goals {
    display: inline-block;
    width: 4em;
    margin: 0 1em;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}


.betForm {
    width: 320px;
    background-color: #eee;
    padding: 2.5em 2em 1em;
}

.betForm .close {
    background-color: #BDBDBD;
}

.betForm .close:hover {
    background-color: #222;
}

.betForm select, textarea {
    margin-bottom: 0;
}

